body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #6a11cb,#2575fc);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20%;
}

h1  {
    font-size: 3em;
    animation: fadeIn 2s ease-in-out;
}

p {
    font-size: 1.2em;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px20px;
    background: #fff;
    color: #2575fc;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.btn:hover{
    background: #f4f4f4;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}