<!DOCTYPE html>
<htmllang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width,initial-scale=1.0">
    <title>MyFirstFlask App</title>
    <link rel="stylesheet"href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h1> Hello from Devops on AWS!</h1>
        <p>This is my fisrt Flask app with HTML & CSS deployed on AWS EC2.</p>
        <a href="/health" class="btn">check Health</a>
    </div>
</body>
<html>       